.search {
  height: 60px;
  width: 1350px;
  margin-left: 2.8px;
  margin-top: -2px;
  display: flex;
  align-items: center;
}

.searchbar {
  font-size: 13px;
  font-family: sans-serif;
  color: #000;
  margin-left: 7px;
  width: 100%;
  height: 35px;
  border: none;
  outline: auto;
  border-radius: 0.5px;
  outline: auto;
  outline-color: #bebebe;

}

.searchbar::placeholder {
  color: #999999;
}


.search-icon {
  margin-left: 10px;
  font-size: 18px;
  color: #333;
}