table {
  border-collapse: collapse;
  width: 98.5%;
  margin: 0 auto;
  margin-left: 10px;
  outline: auto;
  outline-color: #bebebe;
  margin-top: -56px;
  border: none;
}

th,
td {
  border: 1px  solid #bebebe;
  padding: 8px;
  text-align: left;
  
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}